@use '../abstract/m3-vars';

@mixin apply-all {
  // 图片

  img {
    width: 90%;

    &+span {
      font-size: 16px;
      padding: 4px 12px;
      // border: 1px solid var(--pal-outlineVariant);
      border-radius: 12px;
      box-shadow: 0 0 m3-vars.$shadow-light;
      background-color: var(--pal-tertiaryContainer);
      color: var(--pal-onTertiaryContainer);
      font-weight: bold;
    }
  }

  p:has(img) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 24px 16px;
  }

  // 引用

  blockquote {
    position: relative;
    margin-block: 0;
    margin-inline: 0;
    margin: 16px 20px;
    padding: 16px 16px 4px 16px;
    opacity: 0.75;
    color: var(--pal-onSecondaryContainer);
    background-color: var(--pal-secondaryContainer);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: var(--pal-secondary);
      width: 5px;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 5px;
    }

    .quote-icon {
      position: absolute;
      font-size: 28px;
      z-index: 0;
      left: 6px;
      top: 0;
      opacity: 0.4;
    }

    &:not(.quote-icon) {
      z-index: 1;
    }

    p {
      margin: 10px 0;
    }
  }

  // 分隔线

  hr {
    border-color: var(--pal-secondary);
    opacity: 0.5;
  }

  // 链接

  a {
    color: var(--pal-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  @include apply-list;
}

@mixin apply-list {

  // 无序列表样式
  ul {
    padding-left: 2em;
    margin: 0.5em 0;

    li {
      color: var(--pal-onSurfaceVariant);
      line-height: 1.6;

      &::marker {
        color: var(--pal-primary);
      }
    }
  }

  // 有序列表样式
  ol {
    padding-left: 2em;
    margin: 0.5em 0;

    li {
      color: var(--pal-onSurfaceVariant);
      line-height: 1.6;

      &::marker {
        color: var(--pal-primary);
        font-weight: 500;
      }
    }
  }
}