/**
 * 适用于 Vitepress 生成的代码块的样式。
 * 适用于普通代码块和代码组，同时有shiki代码高亮支持。
 *
 * ## Usage
 *
 * 在包含`--shiki-light`和`--shiki-dark`变量的元素上使用`@include shiki-color-scheme('light')`
 * 或`@include shiki-color-scheme('dark')`来设置代码块的颜色方案。
 *
 * 使用`@include shiki-color-scheme('light' | 'dark')`后并不会立即设置字体颜色和背景颜色，
 * 而是会设置css变量`--shiki-color`和`--shiki-color-bg`，以及`--shiki-text-decoration`，
 * 需要在代码块样式中使用这些变量来显示代码高亮的效果。
 *
 * 代码块本身的样式需要在包含`<div class="language-xxx">...</div>`的元素上使用`@include apply-code-block`。
 * 代码块组的样式需要在包含`<div class="vp-code-group">...</div>`的元素上使用`@include apply-code-group`。
 * 也可以直接使用`@include apply-all`来同时应用两者。
 * 这两个mixin自带`:deep(...)`选择器，因此不需要在外层添加`:deep`。
 */

@use '../abstract/m3-anim';
@use '../abstract/font';

// Shiki color scheme switch

@mixin shiki-color-scheme($scheme) {
  @if not ($scheme =="light" or $scheme =="dark") {
    @error "Invalid Shiki color scheme: #{$scheme}";
  }

  --shiki-color: var(--shiki-#{$scheme});
  --shiki-color-bg: var(--shiki-#{$scheme}-bg);

  * {
    --shiki-color: var(--shiki-#{$scheme});
    --shiki-color-bg: var(--shiki-#{$scheme}-bg);
    --shiki-text-decoration: var(--shiki-#{$scheme}-text-decoration);
  }
}

// Code block styles

@mixin stylize-pre {
  // Code block font and background color
  color: var(--shiki-color);
  background-color: color-mix(in oklab, var(--shiki-color-bg) 85%, var(--pal-primary) 15%);

  // Other styles
  box-sizing: content-box;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  overflow-x: auto;

  flex: 1 0;

  &.has-focused-lines {
    .line {
      transition:
        filter m3-anim.$expressiveSlowEffects,
        opacity m3-anim.$expressiveSlowEffects;
      filter: blur(0.1rem);
      opacity: 0.7;
    }

    :hover .line {
      filter: blur(0);
      opacity: 1;
    }

    .line.has-focus {
      filter: blur(0);
      opacity: 1;
    }
  }

  &.has-diff {
    .line::before {
      content: "";
      display: inline-block;
      width: 2ch;
    }

    .line.diff.remove {
      background-color: var(--palext-diffRemove);
    }

    .line.diff.remove::before {
      content: "--";
    }

    .line.diff.add {
      background-color: var(--palext-diffAdd);
    }

    .line.diff.add::before {
      content: "++";
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background: color(from var(--pal-tertiary) srgb r g b / 0.5);
    border-radius: 0.25em;
    // opacity: 0.1;
    // mix-blend-mode: lighten;
  }

  >code {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    * {
      color: var(--shiki-color);
      background-color: color-mix(in oklab, var(--shiki-color-bg), var(--pal-primary) 0.5);
      text-decoration: var(--shiki-text-decoration);
    }
  }

  .line {
    display: block;
    padding-left: 0.25em;
    box-sizing: border-box;
    flex: 0 0 1lh;
  }

  .line.highlighted {
    background-color: color-mix(in hsl,
        color-mix(in oklch,
          var(--shiki-color-bg) 65%,
          var(--pal-primary) 15%,
        ) 85%,
        #ffffff 15%,
      );
  }
}

@mixin apply-code-block {

  pre,
  cod {
    font-family: font.$monospace;
  }

  div[class*="language"] {
    position: relative;

    font-family: font.$monospace;
    font-size: 0.8rem;
    background-color: transparent;
    overflow: visible;

    padding-top: calc(3.6em + 3px);
    margin: 1em 0 1em 0;

    >.pre-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 3px;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
      overflow: hidden;

      >.line-number-list {
        flex: 0 0 1ch;
        box-sizing: border-box;
        padding: 0.5em 1.5ch 0.5em 1.5ch;
        align-items: flex-end;
        font-size: 14px;

        display: flex;
        flex-direction: column;
        background-color: var(--palext-primaryTransparent);

        >div {
          flex: 0 0 1px;
          height: min-content;
        }
      }

      >pre {
        @include stylize-pre;
      }
    }

    >.lang {
      position: absolute;
      top: 1.8em;
      left: 2em;
      transform: translateY(-50%);

      color: var(--pal-onSecondaryContainer);

      z-index: 10;
    }

    >.copy {
      font-family: font.$monospace;

      position: absolute;
      top: 1.8em;
      right: 25px;
      transform: translateY(-50%);

      box-sizing: content-box;
      padding: 0.4lh 1.75ch 0.4lh 1.75ch;
      border: none;
      border-radius: 2em;
      color: var(--pal-onPrimary);

      background-color: var(--pal-primary);
      box-shadow: 2px 2px 8px 0 var(--pal-shadow);

      z-index: 10;

      transition: background-color m3-anim.$expressiveDefaultEffects, box-shadow m3-anim.$expressiveDefaultEffects;

      outline: solid 1.5px var(--pal-outline);

      &::after {
        content: "Copy";
      }

      &.copied::after {
        content: "Copied";
      }

      &:hover {
        background-color: var(--pal-primaryFixed);
      }

      &:active {
        background-color: var(--pal-primaryDim);
        box-shadow: 2px 2px 10px -1px var(--pal-shadow);
      }

      svg {
        position: relative;
        display: inline-block;
        bottom: -0.125em;
        margin-right: 0.5em;
      }
    }

    >.bkgr-decoration {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3.6em;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;

      background-color: var(--palext-secondaryContainerTransparent);
      color: var(--palext-onSecondaryContainer);
    }
  }
}

@mixin apply-code-group {
  // Code Group

  .vp-code-group {
    margin: 1em 0 1em 0;
    display: flex block;
    flex-direction: column;
    font-family: font.$monospace;
    font-size: 0.8rem;

    >.tabs {
      flex: 0 0 4em;
      // border-top-left-radius: 2em;
      // border-top-right-radius: 2em;
      background-color: var(--palext-secondaryContainerTransparent);
      color: var(--palext-onSecondaryContainer);
      z-index: 10;

      display: flex block;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 0 8em 0 2em;
      overflow: auto;
      gap: 0.5em;

      position: relative;
      bottom: -3.6em;

      >label {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.8em 2em 0.8em 2em;
        border-radius: 0.5em;

        background-color: var(--palext-secondaryContainerTransparent);
        color: var(--palext-onSecondaryContainer);

        transition:
          border-radius m3-anim.$expressiveDefaultSpital,
          background-color m3-anim.$expressiveSlowEffects,
          color m3-anim.$expressiveSlowEffects;

        cursor: pointer;

        &:first-of-type {
          border-top-left-radius: 2em;
          border-bottom-left-radius: 2em;
        }

        &:last-of-type {
          border-top-right-radius: 2em;
          border-bottom-right-radius: 2em;
        }
      }

      >input {
        display: none;

        &:checked+label {
          background-color: var(--pal-secondary);
          color: var(--pal-onSecondary);
          border-radius: 2em;

          cursor: default;
        }
      }
    }

    >.blocks>div {
      border: 0;
      margin-top: 0;

      &:not(.active) {
        display: none;
      }

      >.lang {
        top: -2.2em;
      }

      >.copy {
        top: -0.4em;
      }

      >.bkgr-decoration {
        top: -4em;
        border-bottom: 2px dashed #88888860;
      }
    }
  }
}

@mixin apply-all {
  @include apply-code-block;
  @include apply-code-group;
}