$corner-small: 8px;
$corner-medium: 12px;
$corner-large: 16px;
$corner-xlarge: 28px;

$weight-regular: 400;
$weight-medium: 500;

$state-layer-opacity-hovered: 0.08;
$state-layer-opacity-focused: 0.15;
$state-layer-opacity-pressed: 0.15;

$shadow-light: 6px -3px var(--pal-shadow);