$expressiveFastSpital: cubic-bezier(0.42, 1.67, 0.21, 0.90) 350ms;
$expressiveDefaultSpital: cubic-bezier(0.38, 1.21, 0.22, 1.00) 500ms;
$expressiveSlowSpital: cubic-bezier(0.39, 1.29, 0.35, 0.98) 600ms;

$expressiveFastEffects: cubic-bezier(0.31, 0.94, 0.34, 1.00) 150ms;
$expressiveDefaultEffects: cubic-bezier(0.34, 0.80, 0.34, 1.00) 200ms;
$expressiveSlowEffects: cubic-bezier(0.34, 0.88, 0.34, 1.00) 300ms;

$curve-standardSpital: cubic-bezier(0.27, 1.06, 0.18, 1.00);
$standardFastSpital: $curve-standardSpital 350ms;
$standardDefaultSpital: $curve-standardSpital 500ms;
$standardSlowSpital: $curve-standardSpital 750ms;

$standardFastEffects: cubic-bezier(0.31, 0.94, 0.34, 1.00) 150ms;
$standardDefaultEffects: cubic-bezier(0.34, 0.80, 0.34, 1.00) 200ms;
$standardSlowEffects: cubic-bezier(0.34, 0.88, 0.34, 1.00) 300ms;