@use '@vc/styles/abstract/m3-anim';

.layout-card {
  box-shadow: 0 0 5px 0 var(--pal-shadow);
  background-color: color(from var(--pal-surfaceContainer) srgb r g b / 0.7);
  color: var(--pal-onSurface);
}

.page-container {
  position: absolute;

  box-sizing: border-box;
  padding: 0;
  transition: padding m3-anim.$expressiveFastSpital;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;

  overflow: auto;

  left: 0;
  top: 0;

  background: var(--pal-surface);
  color: var(--pal-onSurface);

  width: 100%;
  height: 100%;

  // @media (orientation: landscape) {
  //   padding-top: 10px;
  // }
}

.content-wrapper {
  flex: 1 0 10em;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;

  box-sizing: border-box;
  padding: 0 5px 0 5px;

  transition: padding m3-anim.$expressiveSlowSpital;

  @media (orientation: landscape) {
    padding: 0 5vw 0 5vw;
  }
}

@media (orientation: landscape) and (aspect-ratio < 1.6) {
  .content-wrapper {
    padding: 0 5px 0 5px;
  }

  div.left-cards {
    flex: 0 0 0;
  }
}

// ---------- Cards Layout ----------

.layout-cards-column {
  position: relative;
  display: block flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.left-cards {
  flex: 1 10 10em;
  transition: flex m3-anim.$expressiveSlowSpital;
}

.center-cards {
  flex: 1 0 100px;
  transition: flex m3-anim.$expressiveSlowSpital;
  overflow: hidden;

  @media (orientation: landscape) {
    flex: 3 5 30em;
  }
}

.right-cards {
  flex: 2 1 10em;
  overflow: visible;
  align-self: stretch;
}

.side-bar-header {
  display: flex;
  flex: 0 0 2em;
  flex-direction: row;
  justify-content: space-between;
}

.scrollbar-patch1::-webkit-scrollbar {
  background: transparent;
  height: 0.5em;
}

.scrollbar-patch1::-webkit-scrollbar-button {
  width: 2em;
  border-radius: 0.25em;
  background: linear-gradient(var(--pal-tertiaryFixed), var(--pal-tertiary));
}

.scrollbar-patch1::-webkit-scrollbar-thumb {
  background: color(from var(--pal-tertiary) srgb r g b / 0.5);
  border-radius: 0.25em;
  // opacity: 0.1;
  // mix-blend-mode: lighten;
}